.App {
  text-align: center;
}

.navbarContainer {
  height: 59px;
  width: 100%;
  text-align: center;
  align-items: center;
  margin-bottom: 16px;
}

.collapse:not(.show) {
  display: block !important;
}
